# Berkas bantu / hasil kompilasi LaTeX (JANGAN di-commit)
*.aux
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.blg
*.run.xml
*.toc
*.out
*.lof
*.lot
*.loa
*.lol
*.equ
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.nav
*.snm
*.vrb
*.idx
*.ind
*.ilg
*.glo
*.gls
*.glg
*.acn
*.acr
*.alg
*.xdy
Tesis.pdf
.DS_Store
Thumbs.db
